<h2> Engineering Team </h2>
<div>
<ul>
{{#each model as |engineering|}}
  <h4><li>{{engineering.name}}</li></h4>
  <li>{{engineering.age}}</li>
  <li>{{engineering.dedication}}</li>
{{/each}}
</ul>
</div>
{{#link-to 'team'}}Back{{/link-to}}
