<!-- team/leadership.hbs -->
<h2> Leadership Team </h2>
<ul>
{{#each model as |leadership|}}
  <h4><li>{{leadership.name}}</li></h4>
  <li>{{leadership.age}}</li>
  <li>{{leadership.dedication}}</li>
{{/each}}
</ul>
{{#link-to 'team'}}Back{{/link-to}}
