<h1> Welcome to Ember! </h1>

<h2>
  <nav>
  {{#link-to 'application'}}Home{{/link-to}}
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'products'}}Products{{/link-to}}
  {{#link-to 'team'}}Team{{/link-to}}
  {{#link-to 'contact'}}Contact{{/link-to}}
</nav>
</h2>

<h1> Checkout my awesome stuff!!</h1>
{{outlet}}
